@page
@model UNN_Ki_001.Pages.Attendance.Record.IndexModel
@using UNN_Ki_001.Data.Models;

@{
    ViewData["Title"] = "勤務表";
    var isNotAdmin = !User.IsInRole("Admin");
}
<link rel="stylesheet" href="~/css/Attendance.Record.css" asp-append-version="true" />
 <!-- 全てのフォームにonLoadで追加するデータ -->
<input type="hidden" id="targetListJson" name="targetListJson" value='@Model.TargetListJson' />
<div class="container-fluid p-0">
    <div class="top d-flex mb-4">
        <div class="col-2 shainTitle text-center fs-5 bg-white d-flex justify-content-center align-items-center me-4"><i class="fa-solid fa-user me-3"></i>社員情報</div>
        <div class="w-100 kinmuTitle d-flex py-2 align-items-center bg-white px-5">
            <div class="title col-2 fs-5"><i class="fa-solid fa-business-time me-3"></i>勤務表</div>
            <div class="monthBtn col-4 d-flex align-items-center justify-content-center">
                <div class="date me-3 fs-5">@((Model.TargetList == null) ? "日時エラー" : Model.TargetList.CurrentDate.ToString("yyyy年MM月度"))</div>
                <div class="listBtn d-flex justify-content-center rounded-pill">
                    <form method="post" class="p-0">
                        <input type="hidden" value="PrevMonth" name="command" />
                        <button type="button" class="submit btn btn-success rounded-pill border-0 rounded-end"><i class="fa-solid fa-angles-left me-1"></i>前月</button>
                    </form>
                    <form method="post" class="p-0">
                        <input type="hidden" value="NowMonth" name="command" />
                        <button type="button" class="submit btn btn-success rounded-0 border-top-0 border-bottom-0 border-start-1 border-end-1 border-white px-4">今月</button>
                    </form>
                    <form method="post" class="p-0">
                        <input type="hidden" value="NextMonth" name="command" />
                        <button type="button" class="submit btn btn-success rounded-pill border-0 rounded-start">前月<i class="fa-solid fa-angles-right ms-1"></i></button>
                    </form>
                </div>
            </div>
            <div class="col-3 d-flex align-items-center">
                <table class="table table-bordered m-0" id="mytable1">
                    <thead class="table-primary">
                        <tr class="text-center">
                            <th class="col-6">所属所定時間</th>
                            <th class="col-6">総労働</th>
                        </tr>
                    </thead>
                    <tbody class="SzkData">
                        <tr>
                            <td class="text-center">@Model.ShoteiTimes</td>
                            <td class="text-center">@Model.SorodoTimes</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="etcBtn col-3 d-flex justify-content-end">
                <form method="post" class="align-content-end me-3">
                    <input type="hidden" value="SaveChange" name="command" />
                    <button type="button" class="save-change btn btn-primary"><i class="fa-solid fa-file-pen me-1"></i>登録実行</button>
                </form>
                <div>
                    <button type="button" class="save-change btn btn-success"><i class="fa-solid fa-file-excel me-1"></i>Excel出力</button>
                </div>
            </div>
        </div>
    </div>
    <div class="main d-flex mb-5 mt-0">
        <!-- 社員情報 -->
        <div class="col-2 bg-white shainInfo px-4 pt-3 pb-5 me-4">
            <div class="d-flex justify-content-between">
                <div></div>
                <button type="button" class="btn-close text-reset"></button>
            </div>
            <div class="info mt-3">
                <div class="listBtn d-flex justify-content-center rounded-pill my-4">
                    <form method="post" class="p-0">
                        <input type="hidden" value="PrevShain" name="command" />
                        <button type="button" class="submit btn btn-sm btn-success me-3"><i class="fa-solid fa-angles-left me-1"></i>前の社員</button>
                    </form>
                    <form method="post" class="p-0">
                        <input type="hidden" value="NextShain" name="command" />
                        <button type="button" class="submit btn btn-sm btn-success ms-3">次の社員<i class="fa-solid fa-angles-right ms-1"></i></button>
                    </form>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex g-3 mb-3">
                        <div class="col-4">社員番号</div>
                        <div>@Model.Target.ShainNo</div>
                    </li>
                    <li class="list-group-item d-flex g-3 mb-3">
                        <div class="col-4">社員名</div>
                        <div>@Model.Target.ShainNm</div>
                    </li>
                    <li class="list-group-item d-flex g-3 mb-3">
                        <div class="col-4">所属</div>
                        <div>@Model.Target.ShozokuNm</div>
                    </li>
                    <li class="list-group-item d-flex g-3 mb-3">
                        <div class="col-4">職種</div>
                        <div>@Model.Target.ShokushuNm</div>
                    </li>
                    <li class="list-group-item d-flex g-3 mb-3">
                        <div class="col-4">雇用形態</div>
                        <div>@Model.Target.KoyokeitaiNm</div>
                    </li>
                    <li class="list-group-item">
                    </li>
                </ul>
            </div>
        </div>
        <div class="w-100 bg-white kinmuInfo m-0 pb-5">
            <div class="message text-danger p-3">____Error Message</div>
            <div class="info p-3">
                 <div class="row mb-3 align-items-center">
                    <table id="main-contents" class="Nesting table table-striped">
                        <tr class="table-dark">
                            <th>日付</th>
                            <th>勤務予定</th>
                            <th>打刻開始</th>
                            <th>打刻終了</th>
                            <th>実績開始</th>
                            <th>実績終了</th>
                            <th>休憩</th>
                            <th>控除</th>
                            <th>総労働</th>
                            <th>備考</th>
                        </tr>

                        @foreach(var item in Model.DataList) {

                            <tr class="kinmu" data-origin="@item.KinmuDt">
                                <!-- 勤務日 -->
                                <td class="kinmu_dt">
                                    @item.Day
                                </td>
                                <!-- 勤務内容 -->
                                <td class="mkinmu">
                                    <select>                            
                                        <option></option>
                                        @foreach (var info in Model.MKinmuInfoList)
                                        {
                                            <option value="@info[1]" selected="@(item.KinmuCd.Equals(info[1]) && Model.Target.KigyoCd == info[0] ? true : false)">
                                                    @info[2]
                                            </option>
                                        }
                                    </select>
                                </td>
                                <!-- 打刻開始 -->
                                <td class="kinmu_dakoku_fr">
                                    <select disabled>
                                        <option value="1" selected="@(item.DakokuFrKbn == 1 ? true : false)">前日</option>
                                        <option value="0" selected="@(item.DakokuFrKbn == 0 ? true : false)">当日</option>
                                        <option value="2" selected="@(item.DakokuFrKbn == 2 ? true : false)">翌日</option>
                                    </select>
                                    <input type="time" value="@item.DakokuStart" disabled>
                                </td>
                                <!-- 打刻終了 -->
                                <td class="kinmu_dakoku_to">
                                    <select disabled>
                                        <option value="1" selected="@(item.DakokuFrKbn == 1 ? true : false)">前日</option>
                                        <option value="0" selected="@(item.DakokuFrKbn == 0 ? true : false)">当日</option>
                                        <option value="2" selected="@(item.DakokuFrKbn == 2 ? true : false)">翌日</option>
                                    </select>
                                    <input type="time" value="@item.DakokuEnd" disabled>
                                </td>
                                <!-- 勤務開始 -->
                                <td class="kinmu_kinmu_fr">
                                    <select disabled="@isNotAdmin">
                                        <option value="1" selected="@(item.DakokuFrKbn == 1 ? true : false)">前日</option>
                                        <option value="0" selected="@(item.DakokuFrKbn == 0 ? true : false)">当日</option>
                                        <option value="2" selected="@(item.DakokuFrKbn == 2 ? true : false)">翌日</option>
                                    </select>
                                    <input type="time" class="KinmuStart" value="@item.KinmuStart" disabled="@isNotAdmin">
                                </td>
                                <!-- 勤務終了 -->
                                <td class="kinmu_kinmu_to">
                                    <select disabled="@isNotAdmin">
                                        <option value="1" selected="@(item.DakokuFrKbn == 1 ? true : false)">前日</option>
                                        <option value="0" selected="@(item.DakokuFrKbn == 0 ? true : false)">当日</option>
                                        <option value="2" selected="@(item.DakokuFrKbn == 2 ? true : false)">翌日</option>
                                    </select>
                                    <input type="time" value="@item.KinmuEnd" disabled="@isNotAdmin">
                                </td>
                                <!-- 休憩 -->
                                <td class="kinmu_kyukei">
                                    @item.Kyukei
                                    <button  disabled="@isNotAdmin" type="button" class="btn-kyukei btn-secondary kyukei-dakoku" onclick="openKyukei('@item.KinmuDt', '@Model.Target.ShainNo', '@Model.Target.KigyoCd');" data-bs-toggle="modal" data-bs-target="#kyukei-modal">詳細</button>
                                <!-- 控除 -->
                                <td class="kinmu_kojo">
                                    @item.Kojo
                                </td>
                                <!-- 総労働 -->
                                <td class="kinmu_sorodo">
                                    @item.Sorodo
                                </td>
                                <!-- 備考 -->
                                <td class="kinmu_biko">
                                    <textarea class="w-100"rows="1"  disabled="@isNotAdmin">@item.Biko</textarea>
                                </td>
                            </tr>
                        }
                     </table>
                 </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".shainTitle").click(function () {
        $(".shainInfo").removeClass("d-none")
        $(".shainInfo").removeClass("test")
    })

    $(".shainInfo .btn-close").click(function () {
        $(".shainInfo").addClass("test")
        setTimeout(function () {
            $(".shainInfo").addClass("d-none")
        }, 500)
    })
</script>
<!-- メインコンテナ -->
@* <div class="container-fluid mt-3">
     <!-- 社員情報 -->
    <div class="row border mb-3 align-items-center">
        <div class="row">
            <h4 class="col-md-2">社員情報</h4>
            <form method="post" action="" class="col-md-2 w-auto">
                <input type="hidden" value="PrevShain" name="command" />
                <button type="button" class="submit btn btn-sm btn-secondary">前の社員</button>
            </form>
            <form method="post" action="" class="col-md-2 w-auto">
                <input type="hidden" value="NextShain" name="command" />
                <button type="button" class="submit btn btn-sm btn-secondary">次の社員</button>
            </form>
        </div>

        <div class="row">
            <p class="col-md-2">社員番号: @Model.Target.ShainNo</p>
            <p class="col-md-10">氏名: @Model.Target.ShainNm</p>
        </div>
        <div class="row">
            <p class="col-md-2">所属: @Model.Target.ShozokuNm</p>
            <p class="col-md-2">職種: @Model.Target.ShokushuNm</p>
            <p class="col-md-8">雇用形態: @Model.Target.KoyokeitaiNm</p>
        </div>
    </div>*@
@*
    <!-- データテーブル -->
    <div class="row mb-3 align-items-start">
        <div class="col-1">
            <h4 class="fs-5">勤怠情報</h4>
        </div>
        <div class="col-11 row">
            <h4 class="col-md-2">@((Model.TargetList == null) ? "日時エラー" : Model.TargetList.CurrentDate.ToString("yyyy年MM月度"))</h4>
            <div class="col-md-2">
                <div class="d-flex rounded-pill">
                    <form method="post" action="">
                        <input type="hidden" value="PrevMonth" name="command" />
                        <button type="button" class="submit bg-primary rounded-pill rounded-end px-4">先月</button>
                    </form>
                    <form method="post" action="">
                        <input type="hidden" value="NowMonth" name="command" />
                        <button type="button" class="submit bg-primary rounded-0 mx-1 px-4">今月</button>
                    </form>
                    <form method="post" action="">
                        <input type="hidden" value="NextMonth" name="command" />
                        <button type="button" class="submit bg-primary rounded-pill rounded-start px-4">翌月</button>
                    </form>
                </div>
            </div>
            <form method="post" class="col-md-1 align-content-end ms-3">
                <input type="hidden" value="SaveChange" name="command" />
                <button type="button" class="save-change btn btn-sm btn-primary">登録実行</button>
            </form>
            <!-- 所定労働時間 -->
            <!-- 総労働 -->
            <div class="col-md-7 row justify-content-between">
                <div class="col-5">
                    <table class="table table-bordered" id="mytable">
                        <thead class="table-primary">
                            <tr class="text-center">
                                <th class="col-6">所属所定時間</th>
                                <th class="col-6">総労働</th>
                            </tr>
                        </thead>
                        <tbody class="SzkData">
                            <tr>
                                <td class="text-center">@Model.ShoteiTimes</td>
                                <td class="text-center">@Model.SorodoTimes</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-6">
                    <table class="table table-bordered" id="mytable">
                        <thead class="table-primary">
                            <tr class="text-center">
                                <th class="col-4">所定日数</th>
                                <th class="col-4">休日</th>
                                <th class="col-4">有給</th>
                            </tr>
                        </thead>
                        <tbody class="SzkData">
                            <tr>
                                <td class="text-center">所定日数</td>
                                <td class="text-center">休日</td>
                                <td class="text-center">有給</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- 所定日数 -->
            <!-- 休日 -->
            
        </div>
    </div>*@
@*
     <div class="row mb-3 align-items-center">
        <table id="main-contents" class="Nesting table table-striped">
            <tr class="table-dark">
                <th>日付</th>
                <th>勤務予定</th>
                <th>打刻開始</th>
                <th>打刻終了</th>
                <th>実績開始</th>
                <th>実績終了</th>
                <th>休憩</th>
                <th>控除</th>
                <th>総労働</th>
                <th>備考</th>
            </tr>

            @foreach(var item in Model.DataList) {

                <tr class="kinmu" data-origin="@item.KinmuDt">
                    <!-- 勤務日 -->
                    <td class="kinmu_dt">
                        @item.Day
                    </td>
                    <!-- 勤務内容 -->
                    <td class="mkinmu">
                        <select>                            
                            <option></option>
                            @foreach (var info in Model.MKinmuInfoList)
                            {
                                <option value="@info[1]" selected="@(item.KinmuCd.Equals(info[1]) && Model.Target.KigyoCd == info[0] ? true : false)">
                                        @info[2]
                                </option>
                            }
                        </select>
                    </td>
                    <!-- 打刻開始 -->
                    <td class="kinmu_dakoku_fr">
                        <select disabled>
                            <option value="1" selected="@(item.DakokuFrKbn == 1 ? true : false)">前日</option>
                            <option value="0" selected="@(item.DakokuFrKbn == 0 ? true : false)">当日</option>
                            <option value="2" selected="@(item.DakokuFrKbn == 2 ? true : false)">翌日</option>
                        </select>
                        <input type="time" value="@item.DakokuStart" disabled>
                    </td>
                    <!-- 打刻終了 -->
                    <td class="kinmu_dakoku_to">
                        <select disabled>
                            <option value="1" selected="@(item.DakokuToKbn == 1 ? true : false)">前日</option>
                            <option value="0" selected="@(item.DakokuToKbn == 0 ? true : false)">当日</option>
                            <option value="2" selected="@(item.DakokuToKbn == 2 ? true : false)">翌日</option>
                        </select>
                        <input type="time" value="@item.DakokuEnd" disabled>
                    </td>
                    <!-- 勤務開始 -->
                    <td class="kinmu_kinmu_fr">
                        <select disabled="@isNotAdmin">
                            <option value="1" selected="@(item.KinmuFrKbn == 1 ? true : false)">前日</option>
                            <option value="0" selected="@(item.KinmuFrKbn == 0 ? true : false)">当日</option>
                            <option value="2" selected="@(item.KinmuFrKbn == 2 ? true : false)">翌日</option>
                        </select>
                        <input type="time" class="KinmuStart" value="@item.KinmuStart" disabled="@isNotAdmin">
                    </td>
                    <!-- 勤務終了 -->
                    <td class="kinmu_kinmu_to">
                        <select disabled="@isNotAdmin">
                            <option value="1" selected="@(item.KinmuToKbn == 1 ? true : false)">前日</option>
                            <option value="0" selected="@(item.KinmuToKbn == 0 ? true : false)">当日</option>
                            <option value="2" selected="@(item.KinmuToKbn == 2 ? true : false)">翌日</option>
                        </select>
                        <input type="time" value="@item.KinmuEnd" disabled="@isNotAdmin">
                    </td>
                    <!-- 休憩 -->
                    <td class="kinmu_kyukei">
                        @item.Kyukei
                        <button  hidden="@isNotAdmin" disabled="@(item.KinmuStart == "N/A" || item.KinmuEnd == "N/A")" type="button" class="btn-kyukei btn btn-secondary kyukei-dakoku" onclick="openKyukei('@item.KinmuDt', '@Model.Target.ShainNo', '@Model.Target.KigyoCd');" data-bs-toggle="modal" data-bs-target="#kyukei-modal">詳細</button>
                    <!-- 控除 -->
                    <td class="kinmu_kojo">
                        @item.Kojo
                    </td>
                    <!-- 総労働 -->
                    <td class="kinmu_sorodo">
                        @item.Sorodo
                    </td>
                    <!-- 備考 -->
                    <td class="kinmu_biko">
                        <textarea class="w-100"rows="1"  disabled="@isNotAdmin">@item.Biko</textarea>
                    </td>
                </tr>
            }
         </table>
     </div>
 </div>
*@
 <!-- 休憩Modal -->
<div class="modal fade" id="kyukei-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">休憩</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- 本文 -->
            <table class="border">
                <thead>
                    <tr>
                        <th></th>
                        <th>開始時間</th>
                        <th>終了時間</th>
                    </tr>
                </thead>
                <tbody class="kyukei-table">

                </tbody>
                
                <tbody class="kyukei-template" hidden>
                    <tr class="row-template">
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td class="start">
                                <select name="dakokuFrKbn">
                                    <option value="1">前日</option>
                                    <option value="0" selected>当日</option>
                                    <option value="2">翌日</option>
                                </select>
                                <input type="time" name="dakokuFr" />
                            </td>
                            <td class="end">
                                <select name="dakokuToKbn">
                                    <option value="1">前日</option>
                                    <option value="0" selected>当日</option>
                                    <option value="2">翌日</option>
                                </select>
                                <input type="time" name="dakokuTo" />
                            </td>
                        </tr>
                </tbody>
            </table>
            <form method="post" id="kyukeiForm">
                <input class="kyukeiJson" type="hidden" name="kyukeiJson" />
            </form>
        </div>
        <div class="modal-footer">
            <button class="add" onclick="addKyuke();">行追加</button>
            <button class="remove" onclick="deleteKyukei();">選択行削除</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="kyukeiSaveChange();">Save changes</button>
        </div>
    </div>
    </div>
</div>

 <!-- 同期的にJavaScriptを読み込む -->
<script type="text/javascript" src="../js/Attendance.Record_async.js" async></script>

   



