@page
@model UNN_Ki_001.Pages.Attendance.Record.IndexModel
@using UNN_Ki_001.Data.Models;

@{
    ViewData["Title"] = "勤務表";
    var isNotAdmin = !User.IsInRole("Admin");
}
 <h1>@ViewData["Title"]</h1>

 <!-- 全てのフォームにonLoadで追加するデータ -->
<input type="hidden" id="targetListJson" name="targetListJson" value='@Model.TargetListJson' />
 
 <!-- メインコンテナ -->
 <div class="container-fluid">


     <!-- 社員情報 -->
    <div class="row border mb-5 align-items-center">
        <div class="row">
            <h4 class="col-md-2">社員情報</h4>
            <form method="post" action="" class="col-md-2 w-auto">
                <input type="hidden" value="PrevShain" name="command" />
                <button type="button" class="submit btn btn-sm btn-secondary">前の社員</button>
            </form>
            <form method="post" action="" class="col-md-2 w-auto">
                <input type="hidden" value="NextShain" name="command" />
                <button type="button" class="submit btn btn-sm btn-secondary">次の社員</button>
            </form>
        </div>

        <div class="row">
            <p class="col-md-2">社員番号: @Model.Target.ShainNo</p>
            <p class="col-md-10">氏名: @Model.Target.ShainNm</p>
        </div>
        <div class="row">
            <p class="col-md-2">所属: @Model.Target.ShozokuNm</p>
            <p class="col-md-2">職種: @Model.Target.ShokushuNm</p>
            <p class="col-md-8">雇用形態: @Model.Target.KoyokeitaiNm</p>
        </div>
    </div>

    <!-- データテーブル -->
    <div class="row mb-3 align-items-center">
        <div class="row">
            <h4 class="col-md-2">勤怠情報</h4>
        </div>
        <div class="row">
            <h4 class="col-md-4">@((Model.TargetList == null) ? "日時エラー" : Model.TargetList.CurrentDate.ToString("yyyy年MM月度"))</h4>
            <div class="row rounded-pill" style="max-width:300px">
                <form method="post" action="" class="col-md-4" style="">
                    <input type="hidden" value="PrevMonth" name="command" />
                    <button type="button" class="submit bg-primary rounded-start" style="width: 100px; border-radius: 50rem 0 0 50rem !important">先月</button>
                </form>
                <form method="post" action="" class="col-md-4">
                    <input type="hidden" value="NowMonth" name="command" />
                    <button type="button" class="submit bg-primary" style="width: 100px;">今月</button>
                </form>
                <form method="post" action="" class="col-md-4" style="">
                    <input type="hidden" value="NextMonth" name="command" />
                    <button type="button" class="submit bg-primary rounded-end" style="width: 100px; border-radius: 0 50rem 50rem 0 !important">翌月</button>
                </form>
            </div>
            <!-- 所定労働時間 -->
            <!-- 総労働 -->
            <!-- 所定日数 -->
            <!-- 休日 -->
            <!-- 有給 -->
            <form method="post" action="" class="col-md-2 align-content-end ms-3">
                <input type="hidden" value="SaveChange" name="command" />
                <button type="button" class="save-change btn btn-sm btn-primary">登録実行</button>
            </form>
        </div>
    </div>

     <div class="row mb-3 align-items-center">
            <table id="main-contents" class="Nesting table table-striped">
            <tr class="table-dark">
                <th>日付</th>
                <th>勤務予定</th>
                <th>打刻開始</th>
                <th>打刻終了</th>
                <th>実績開始</th>
                <th>実績終了</th>
                <th>休憩</th>
                <th>控除</th>
                <th>総労働</th>
                <th>備考</th>
            </tr>

            @foreach(var item in Model.DataList) {

                <tr class="kinmu" data-origin="@item.KinmuDt">
                    <!-- 勤務日 -->
                    <td class="kinmu_dt">
                        @item.Day
                    </td>
                    <!-- 勤務内容 -->
                    <td class="mkinmu">
                        <select>                            
                            <option></option>
                            @foreach (var info in Model.MKinmuInfoList)
                            {
                                <option value="@info[1]" selected="@(item.KinmuCd.Equals(info[1]) && Model.Target.KigyoCd == info[0] ? true : false)">
                                        @info[2]
                                </option>
                            }
                        </select>
                    </td>
                    <!-- 打刻開始 -->
                    <td class="kinmu_dakoku_fr">
                        <select disabled>
                            <option value="1" selected="@(item.DakokuFrKbn == 1 ? true : false)">前日</option>
                            <option value="0" selected="@(item.DakokuFrKbn == 0 ? true : false)">当日</option>
                            <option value="2" selected="@(item.DakokuFrKbn == 2 ? true : false)">翌日</option>
                        </select>
                        <input type="time" value="@item.DakokuStart" disabled>
                    </td>
                    <!-- 打刻終了 -->
                    <td class="kinmu_dakoku_to">
                        <select disabled>
                            <option value="1" selected="@(item.DakokuFrKbn == 1 ? true : false)">前日</option>
                            <option value="0" selected="@(item.DakokuFrKbn == 0 ? true : false)">当日</option>
                            <option value="2" selected="@(item.DakokuFrKbn == 2 ? true : false)">翌日</option>
                        </select>
                        <input type="time" value="@item.DakokuEnd" disabled>
                    </td>
                    <!-- 勤務開始 -->
                    <td class="kinmu_kinmu_fr">
                        <select disabled="@isNotAdmin">
                            <option value="1" selected="@(item.DakokuFrKbn == 1 ? true : false)">前日</option>
                            <option value="0" selected="@(item.DakokuFrKbn == 0 ? true : false)">当日</option>
                            <option value="2" selected="@(item.DakokuFrKbn == 2 ? true : false)">翌日</option>
                        </select>
                        <input type="time" class="KinmuStart" value="@item.KinmuStart" disabled="@isNotAdmin">
                    </td>
                    <!-- 勤務終了 -->
                    <td class="kinmu_kinmu_to">
                        <select disabled="@isNotAdmin">
                            <option value="1" selected="@(item.DakokuFrKbn == 1 ? true : false)">前日</option>
                            <option value="0" selected="@(item.DakokuFrKbn == 0 ? true : false)">当日</option>
                            <option value="2" selected="@(item.DakokuFrKbn == 2 ? true : false)">翌日</option>
                        </select>
                        <input type="time" value="@item.KinmuEnd" disabled="@isNotAdmin">
                    </td>
                    <!-- 休憩 -->
                    <td class="kinmu_kyukei">
                        @item.Kyukei
                        <button  disabled="@isNotAdmin" type="button" class="btn-kyukei btn-secondary kyukei-dakoku" onclick="openKyukei('@item.KinmuDt', '@Model.Target.ShainNo', '@Model.Target.KigyoCd');" data-bs-toggle="modal" data-bs-target="#kyukei-modal">詳細</button>
                    <!-- 控除 -->
                    <td class="kinmu_kojo">
                        @item.Kojo
                    </td>
                    <!-- 総労働 -->
                    <td class="kinmu_sorodo">
                        @item.Sorodo
                    </td>
                    <!-- 備考 -->
                    <td class="kinmu_biko">
                        <textarea class="w-100"rows="1"  disabled="@isNotAdmin">@item.Biko</textarea>
                    </td>
                </tr>
            }
         </table>
     </div>
 </div>


 <!-- 休憩Modal -->
<div class="modal fade" id="kyukei-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">休憩</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- 本文 -->
            <table class="border">
                <thead>
                    <tr>
                        <th></th>
                        <th>開始時間</th>
                        <th>終了時間</th>
                    </tr>
                </thead>
                <tbody class="kyukei-table">

                </tbody>
                
                <tbody class="kyukei-template" hidden>
                    <tr class="row-template">
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td class="start">
                                <select name="dakokuFrKbn">
                                    <option value="1">前日</option>
                                    <option value="0" selected>当日</option>
                                    <option value="2">翌日</option>
                                </select>
                                <input type="time" name="dakokuFr" />
                            </td>
                            <td class="end">
                                <select name="dakokuToKbn">
                                    <option value="1">前日</option>
                                    <option value="0" selected>当日</option>
                                    <option value="2">翌日</option>
                                </select>
                                <input type="time" name="dakokuTo" />
                            </td>
                        </tr>
                </tbody>
            </table>
            <form method="post" id="kyukeiForm">
                <input class="kyukeiJson" type="hidden" name="kyukeiJson" />
            </form>
        </div>
        <div class="modal-footer">
            <button class="add" onclick="addKyuke();">行追加</button>
            <button class="remove" onclick="deleteKyukei();">選択行削除</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="kyukeiSaveChange();">Save changes</button>
        </div>
    </div>
    </div>
</div>

 <!-- 同期的にJavaScriptを読み込む -->
<script type="text/javascript" src="../js/Attendance.Record_async.js" async></script>

   



