@page "/Attendance/Record/Index/{id}"
@model UNN_Ki_001.Pages.Attendance.Record.IndexModel
@{
}
 <h1>勤務表</h1>
 <h2> @Model.Kigyo_cd</h2>
    <div class="container mt-5" style="max-width: 800px">
         <div class="card mb-4 " >
            <div class="card-body" >
               <h6>社員情報</h6>
               <div class="row mb-3 align-items-center">
                  <label class="col-2" for="shain_no">社員番号</label>
                  <div class="col-2 row">@Model.ShainNo</div>
                  <label class="col-1" for="name_mei">氏名</label>
                  <div class="col-3 row">@Model.ShainName</div>

               </div>
               <div class="row mb-3 align-items-center">
                  <label class="col-1" for="shozoku_nm">所属</label>
                  <div class="col-3 row">@Model.ShozokuName</div>
                  <label class="col-1" for="shokushu_nm">職種</label>
                  <div class="col-3 row">@Model.ShokushuName</div>
                  <label class="col-2" for="koyokeitai_nm">雇用形態</label>
                  <div class="col-3 row">@Model.KoyokeitaiName</div>
               </div>
            </div>
         </div>
      </div>
       
      
   



