@page
@model Search
@{
    ViewData["Title"] = "社員検索";
}
<div>
    <div class="container mt-3 mb-5" style="max-width: 800px;">
       <h3 class="align-items-center">@ViewData["Title"]</h3>
      <form class="card mb-4 SearchForm" method="Post" id="MainForm">
        <div class="card-header d-flex justify-content-between">
            <div class="card-title">社員検索条件</div>
            <div class="minimizeBtn"><i class="fa-solid fa-minimize"></i></div>
            <div class="maximizeBtn d-none"><i class="fa-solid fa-maximize"></i></div>
        </div>
         <div class="card-body">
            <!-- 識別用 -->
            <input type="hidden" name="command" value="main" />
            <div class="row g-3 align-items-center mb-3">
                <!-- 社員番号 -->
                <div class="col-3">
                    <label asp-for="Input.No" for="inputNo" class="col-form-label"></label>
                </div>
                <div class="col-auto">
                    <input class="form-control" asp-for="Input.No" id="inputNo">
                </div>
            </div>
            <div class="row g-3 align-items-center mb-3">
                <!-- 氏名 -->
                <div class="col-3">
                    <label asp-for="Input.Name" for="inputName" class="col-form-label"></label>
                </div>
                <div class="col-auto">
                    <input class="form-control" asp-for="Input.Name" id="inputName">
                </div>
            </div>

            <div class="row g-3 align-items-center mb-3">
                <!-- 所属 -->
                <div class="col-3">
                    <label asp-for="Input.ShozokuCd" for="inputShozokuName" class="col-form-label"></label>
                </div>
                <div class="col-auto">
                    <select name="Input.ShozokuCd" class="form-select"
                            aria-label="Default select">
                        <option></option>
                        @foreach (var item in @Model.Shozoku)
                        {
                            <option value="@item.ShozokuCd" selected="@(Model.ShozokuCd!=null && Model.ShozokuCd!.Equals(item.ShozokuCd)  ? true : false)">@item.ShozokuNm</option>
                        }
                    </select>
                </div>
            </div>

            <div class="row g-3 align-items-center mb-3">
                <!-- 職種 -->
                <div class="col-3">
                    <label asp-for="Input.ShokushuCd" class="col-form-label"></label>
                </div>
                <div class="col-auto">
                    <select name="Input.ShokushuCd" class="form-select"
                            aria-label="Default select">
                        <option></option>
                        @foreach (var item in @Model.Shokushu)
                        {
                            <option value="@item.ShokushuCd" selected="@(Model.ShokushuCd!=null && Model.ShokushuCd!.Equals(item.ShokushuCd)  ? true : false)">@item.ShokushuNm</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row g-3 align-items-center mb-3">
                <!-- 雇用形態 -->
                <div class="col-3">
                    <label asp-for="Input.KoyokeitaiCd" class="col-form-label"></label>
                </div>
                <div class="col-auto">
                    <select name="Input.KoyokeitaiCd" class="form-select"
                            aria-label="Default select">
                        <option></option>
                        @foreach (var item in @Model.Koyokeitai)
                        {
                            <option value="@item.KoyokeitaiCd" selected="@(Model.KoyokeitaiCd!=null && Model.KoyokeitaiCd!.Equals(item.KoyokeitaiCd)  ? true : false)">@item.KoyokeitaiNm</option>
                        }
                    </select>
                </div>
            </div>
            <div class="d-flex justify-content-end mt-3">
                <button type="submit" class="search btn btn-primary me-5 px-4" value="search" name="action">
                        <i class="fa-solid fa-magnifying-glass me-3"></i>
                    検索
                </button>
            </div>
        </div>
      </form>
        <div class="mb-5">
            <table class="table table-bordered" id="mytable">
            <thead class="table-primary">
                <tr class="text-center">
                    <th class="col-2">社員番号</th>
                    <th class="col-4">氏名</th>
                    <th class="col-2">所属名</th>
                    <th class="col-2">職種名</th>
                    <th class="col-2">雇用形態名</th>
                </tr>
            </thead>
            <tbody class="shokushuData ">
                @if (Model._targetList != null)
                {
                    var list = Model._targetList;
                    for (int i = 0; i < list.Count; i++)
                    {
                        <tr>
                            <td class="text-center">
                                <a href="#" onclick="SendPost(@i);">
                                    @list[i].ShainNo
                                </a>
                            </td>
                            <td>
                                @list[i].NameSei @list[i].NameMei
                            </td>
                            <td class="text-center">
                                @if (list[i].Shozoku != null)
                                {
                                    @list[i].Shozoku.ShozokuNm
                                }
                            </td>
                            <td class="text-center">
                                @if (list[i].Shokushu != null)
                                {
                                    @list[i].Shokushu.ShokushuNm
                                }
                            </td>
                            <td class="text-center">
                                @if (list[i].Koyokeitai != null)
                                {
                                    @list[i].Koyokeitai.KoyokeitaiNm
                                }
                            </td>
                        </tr>
                    }
                }           
            </tbody>
            </table>
        <div class="text-danger">@Model.Message</div>
        </div>
    </div>
</div>
<form id="SubForm" method="Post">
    <input type="hidden" name="command" value="sub" />
    <input type="hidden" name="index" value="" />
</form>
<script src="~/js/Attendance.Record.Search.js"></script>
<script src="~/js/VariousMasterCommon.js"></script>
