@page
@model UNN_Ki_001.Pages.VariousMaster.Kinmu.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>M_Kinmu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.KinmuNm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.KinmuNm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.KinmuBunrui)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.KinmuBunrui)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.KinmuFrKbn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.KinmuFrKbn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.KinmuFrTm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.KinmuFrTm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.KinmuToKbn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.KinmuToKbn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.KinmuToTm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.KinmuToTm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.Kyukei1FrKbn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.Kyukei1FrKbn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.Kyukei1FrTm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.Kyukei1FrTm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.Kyukei1ToKbn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.Kyukei1ToKbn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.Kyukei1ToTm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.Kyukei1ToTm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.Kyukei2FrKbn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.Kyukei2FrKbn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.Kyukei2FrTm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.Kyukei2FrTm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.Kyukei2ToKbn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.Kyukei2ToKbn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.Kyukei2ToTm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.Kyukei2ToTm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.Kyukei3FrKbn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.Kyukei3FrKbn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.Kyukei3FrTm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.Kyukei3FrTm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.Kyukei3ToKbn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.Kyukei3ToKbn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.Kyukei3ToTm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.Kyukei3ToTm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.KyukeiAutoFlg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.KyukeiAutoFlg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.ShoteiTm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.ShoteiTm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.KinmuFrCtrlFlg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.KinmuFrCtrlFlg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.KinmuFrMarumeTm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.KinmuFrMarumeTm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.KinmuFrMarumeKbn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.KinmuFrMarumeKbn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.KinmuToMarumeTm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.KinmuToMarumeTm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.KinmuToMarumeKbn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.KinmuToMarumeKbn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.KyukeiFrMarumeTm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.KyukeiFrMarumeTm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.KyukeiFrMarumeKbn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.KyukeiFrMarumeKbn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.KyukeiToMarumeTm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.KyukeiToMarumeTm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.KyukeiToMarumeKbn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.KyukeiToMarumeKbn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.ValidFlg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.ValidFlg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.CreateUsr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.CreateUsr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.CreatePgm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.CreatePgm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.UpdateUsr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.UpdateUsr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.M_Kinmu.UpdatePgm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.M_Kinmu.UpdatePgm)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="M_Kinmu.KigyoCd" />
        <input type="hidden" asp-for="M_Kinmu.KinmuCd" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
