@page
@model UNN_Ki_001.Pages.VariousMaster.Kinmu.IndexModel

@{
    ViewData["Title"] = "勤務マスタ登録";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].KigyoCd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].KinmuCd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].KinmuNm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].KinmuBunrui)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].KinmuFrKbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].KinmuFrTm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].KinmuToKbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].KinmuToTm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].Kyukei1FrKbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].Kyukei1FrTm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].Kyukei1ToKbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].Kyukei1ToTm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].Kyukei2FrKbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].Kyukei2FrTm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].Kyukei2ToKbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].Kyukei2ToTm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].Kyukei3FrKbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].Kyukei3FrTm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].Kyukei3ToKbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].Kyukei3ToTm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].KyukeiAutoFlg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].ShoteiTm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].KinmuFrCtrlFlg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].KinmuFrMarumeTm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].KinmuFrMarumeKbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].KinmuToMarumeTm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].KinmuToMarumeKbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].KyukeiFrMarumeTm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].KyukeiFrMarumeKbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].KyukeiToMarumeTm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].KyukeiToMarumeKbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].ValidFlg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].CreateUsr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].CreatePgm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].UpdateUsr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_Kinmu[0].UpdatePgm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.M_Kinmu) {
        <tr>
             <th>
                @Html.DisplayFor(modelItem => item.KigyoCd)
            </th>
             <th>
                @Html.DisplayFor(modelItem => item.KinmuCd)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.KinmuNm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KinmuBunrui)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KinmuFrKbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KinmuFrTm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KinmuToKbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KinmuToTm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kyukei1FrKbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kyukei1FrTm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kyukei1ToKbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kyukei1ToTm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kyukei2FrKbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kyukei2FrTm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kyukei2ToKbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kyukei2ToTm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kyukei3FrKbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kyukei3FrTm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kyukei3ToKbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kyukei3ToTm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KyukeiAutoFlg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShoteiTm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KinmuFrCtrlFlg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KinmuFrMarumeTm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KinmuFrMarumeKbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KinmuToMarumeTm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KinmuToMarumeKbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KyukeiFrMarumeTm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KyukeiFrMarumeKbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KyukeiToMarumeTm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KyukeiToMarumeKbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidFlg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateUsr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatePgm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateUsr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatePgm)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { KigyoCd = item.KigyoCd, KinmuCd = item.KinmuCd }) |
                @Html.ActionLink("Details", "Details", new { KigyoCd = item.KigyoCd, KinmuCd = item.KinmuCd }) |
                @Html.ActionLink("Delete", "Delete", new { KigyoCd = item.KigyoCd, KinmuCd = item.KinmuCd })
            </td>
        </tr>
}
    </tbody>
</table>
