@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="header container-fluid bg-white">
        <nav class="navbar navbar-expand-lg desktop">
            <div class="container-fluid">
                <a
                    id="logo"
                    asp-area=""
                    asp-page="/Index"
                    class="text-decoration-none text-dark mx-5"
                >
                    <img src="~/images/logo.svg" alt="ロゴ" />
                    <div class="companyName mt-1 hidden">
                        株式会社ユニノワール
                    </div>
                </a>
                <div
                    class="collapse navbar-collapse"
                >
                    <div
                        class="nav-custom row justify-content-between align-items-center"
                    >
                        <div class="navbar-nav col-9">
                            <div class="nav-item mx-2">
                                <a class="nav-link" asp-page="/Attendance">打刻登録</a>
                            </div>
                            <div class="nav-item mx-2">
                                <a class="nav-link" asp-area="Kintai" asp-page="/WorkSchedule">勤務表</a>
                            </div>
                            <div class="nav-item mx-2">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">ユーザー登録</a>
                            </div>
                            <div class="nav-item mx-2">
                                <a class="nav-link" asp-area="Kintai" asp-page="/Setting">基本設定</a>
                            </div>
                            <div class="nav-item dropdown hidden ms-2">
                                <div
                                    class="nav-link dropdown-toggle"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    各種マスタ登録
                                </div>
                                <ul
                                    class="dropdown-menu dropdown-menu-end border-0 rounded-4"
                                >
                                    <li>
                                        <a class="dropdown-item" asp-area="Kintai" asp-page="/VariousMaster/Employee"
                                            >社員マスタ</a
                                        >
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="Kintai" asp-page="/VariousMaster/Affiliation"
                                            >所属マスタ</a
                                        >
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="Kintai" asp-page="/VariousMaster/Job"
                                            >職種マスタ</a
                                        >
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="Kintai" asp-page="/VariousMaster/EmploymentForm"
                                            >雇用形態マスタ</a
                                        >
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="Kintai" asp-page="/VariousMaster/Work"
                                            >勤務</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="loginUserInfo dropdown hidden col-3">
                            <a
                                class="nav-link dropdown-toggle d-flex justify-content-end align-items-center"
                                href="#"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                <i class="fa-solid fa-user-tie"></i>
                                <div class="username mx-3">@User.Identity?.Name </div>
                                <span class="hidden">ようこそ！</span>
                            </a>
                            <ul
                                class="dropdown-menu dropdown-menu-end border-0 rounded-5"
                            >
                                <li>
                                    <form class="dropdown-item my-2" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                        <button type="submit" class="nav-link btn btn-link"><i class="fa-solid fa-right-from-bracket me-2"></i>ログアウト</button>
                                    </form>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-page="/Help">
                                        <div class="nav-link btn btn-link text-start"><i class="fa-solid fa-circle-info me-2"></i>ヘルプ</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <nav class="navbar navbar-expand-lg tablet">
            <div class="container-fluid">
                <a
                    id="logo"
                    asp-area=""
                    asp-page="/Index"
                    class="text-decoration-none text-dark mx-5"
                >
                    <img src="~/images/logo.svg" alt="ロゴ" />
                    <div class="companyName mt-1 hidden">
                        株式会社ユニノワール
                    </div>
                </a>
                <button
                    class="navbar-toggler collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"><i class="fa-solid fa-bars" style="font-size: 2rem"></i></span>
                </button>
                <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent"
                >
                    <div
                        class="d-flex justify-content-around align-items-center me-5"
                    >
                        <div>
                            <img
                                src="https://www.uninoir.co.jp/img/top/img01.png?version=xxxxxxx1"
                                style="max-width: 500px; min-width: 50px; width: 100%;"
                                class="img-fluid"
                                alt=""
                            />
                        </div>
                        <div class="navbar-nav">
                            <div class="nav-item mx-2">
                                <a class="nav-link" asp-area="Kintai" asp-page="/Perforation">打刻登録</a>
                            </div>
                            <div class="nav-item mx-2">
                                <a class="nav-link" asp-area="Kintai" asp-page="/WorkSchedule">勤務表</a>
                            </div>
                            <div class="nav-item mx-2">
                                <a class="nav-link" asp-area="Identity" asp-page="/Register">ユーザー登録</a>
                            </div>
                            <div class="nav-item mx-2">
                                <a class="nav-link" asp-area="Kintai" asp-page="/Setting">基本設定</a>
                            </div>
                            <div class="nav-item dropdown ms-2">
                                <div
                                    class="nav-link dropdown-toggle"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    各種マスタ登録
                                </div>
                                <ul
                                    class="dropdown-menu dropdown-menu-end border-0 rounded-4"
                                >
                                    <li>
                                        <a class="dropdown-item" asp-area="Kintai" asp-page="/VariousMaster/Employee"
                                            >社員マスタ</a
                                        >
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="Kintai" asp-page="/VariousMaster/Affiliation"
                                            >所属マスタ</a
                                        >
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="Kintai" asp-page="/VariousMaster/Job"
                                            >職種マスタ</a
                                        >
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="Kintai" asp-page="/VariousMaster/EmploymentForm"
                                            >雇用形態マスタ</a
                                        >
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="Kintai" asp-page="/VariousMaster/Work"
                                            >勤務</a
                                        >
                                    </li>
                                </ul>
                            </div>
                            <div class="loginUserInfo dropdown">
                                <a
                                    class="nav-link dropdown-toggle d-flex justify-content-end align-items-center"
                                    href="#"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    <i class="fa-solid fa-user-tie"></i>
                                    <div class="username mx-3"> @User.Identity?.Name </div>
                                    <span class="hidden">ようこそ！</span>
                                </a>
                                <ul
                                    class="dropdown-menu dropdown-menu-end border-0 rounded-5"
                                >
                                    <li>
                                        <form class="dropdown-item my-2" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                            <button type="submit" class="nav-link btn btn-link"><i class="fa-solid fa-right-from-bracket me-2"></i>ログアウト</button>
                                        </form>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-page="/Help">
                                            <div class="nav-link btn btn-link text-start"><i class="fa-solid fa-circle-info me-2"></i>ヘルプ</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <nav class="navbar navbar-expand-lg phone">
            <div class="container-fluid my-2 align-items-center">
                <a
                    id="logo"
                    asp-area=""
                    asp-page="/Index"
                    class="text-decoration-none text-dark"
                >
                    <img src="~/images/logo.svg" alt="ロゴ" />
                </a>
                <div class="loginInfo">@User.Identity?.Name</div>
                <div>
                    <a class="" asp-area="" asp-page="/Help"
                        ><i class="fa-solid fa-circle-info mx-2"></i
                        >ヘルプ</a
                    >
                </div>
            </div>
        </nav>
    </div>
}