@page
@model UNN_Ki_001.Pages.VariousMaster.KinmuModel
@{
}
<h1>勤務マスタメンテナンス</h1>
<div>
   <div class="container mt-5" style="max-width: 70%">
      <form class="card mb-4" method="Post">
         <div class="card-body">
            <div class="row mb-3 align-items-center">
               <label class="col-5" for="shokushu_cd">勤務コード</label>
               <input
                  type="text"
                  class="form-control"
                  name="kinmu_cd"
                  size="30"
                  maxlength="10"
                  id="kinmu_cd"
                  value = "@Model.Kinmu_cd"
                />
            </div>
            <div class="row mb-3 align-items-center">
               <label class="col-5">勤務名</label>
               <input
                  type="text"
                  class="form-control"
                  name="kinmu_nm"
                  id="kinmu_nm"
                  value = "@Model.Kinmu_nm"
               />
            </div>
             <div class="row mb-3 align-items-center">
               <label class="col-5">勤務分類</label>
               <input
                  type="text"
                  class="form-control"
                  name="kinmu_bunrui"
                  id="kinmu_bunrui"
                  value = "@Model.Kinmu_bunrui"
               />
            </div>
            <div class="row mb-3 align-items-center">
               <div class="col-10">
                  有効/無効
                     <label for="valid_flg">有効</label>
                     <input
                        type="radio"
                        name="valid_flg"
                        value="1"
                        id="valid_flg"
                        @(Model.Valid_flg =="1" ? "checked" : "")
                     />
                     <label for="valid_flg">無効</label>
                     <input
                        type="radio"
                        name="valid_flg"
                        value="0"
                        id="valid_flg"
                        @(Model.Valid_flg =="0" ? "checked" : "")
                     />
               </div>
            </div>
            <div class="d-flex justify-content-end mt-2">
               <input type="hidden" value="search" name="action" />
               <button type="submit" class="search btn btn-secondary mx-3">
                  検索
               </button>
            </div>
            <div class="d-flex justify-content-end mt-2">
               <input
                  type="button"
                  class="tsuika btn btn-secondary mx-3"
                  value="追加"
                  data-bs-toggle="modal"
                  data-bs-target="#tsuikaModal"
               />
               <input
                  type="button"
                  class="skCopy btn btn-secondary mx-3"
                  value="複写"
               />
            </div>
         </div>
      </form>
     @* <div class="text-black">@Model.Message</div>
      <div class="text-danger">@Model.ErrorMessage</div>*@
      <div class="p-2">
         <table class="table table-bordered" id="mytable">
            <thead class="table-primary">
               <tr class="text-center">
                  <th class="col-2">職種コード</th>
                  <th class="col-3">職種名</th>
                  <th class="col-2">勤務分類</th>
                  <th class="col-2">勤務時間</th>
                  <th class="col-2">休憩時間</th>
                  <th class="col-1">有効</th>
               </tr>
            </thead>
            <tbody class="shokushuData ">
                @if (Model.Data != null) { 
                    @foreach (var kinmu in Model.Data) {
                        <tr>
                            <td  data-bs-toggle="modal" data-bs-target="#updateModal">
                                <div class="shokushu_cd text-decoration-underline text-primary">@kinmu.kinmu_cd</div>
                            </td>
                            <td>@kinmu.kinmu_nm</td>
                            @if(@kinmu.kinmu_bunrui == "01")
                                {
                                    <td>通常勤務</td>
                                }
                                else if(@kinmu.kinmu_bunrui == "02")
                                {
                                    <td>所定休日</td>
                                }
                                else if(@kinmu.kinmu_bunrui == "03")
                                {
                                    <td>法定休日</td>
                                }
                                
                                else if(@kinmu.kinmu_bunrui == "05")
                                {
                                    <td>振替休日</td>
                                }
                                else if(@kinmu.kinmu_bunrui == "06")
                                {
                                    <td>代休</td>
                                }
                                else if(@kinmu.kinmu_bunrui == "07")
                                {
                                    <td>A有給休暇</td>
                                }
                                else if(@kinmu.kinmu_bunrui == "08")
                                {
                                    <td>午前半休</td>
                                }
                                <td> @kinmu.kinmu_fr_tm-@kinmu.kinmu_to_tm</td>
                                <td> @kinmu.kyuke1_fr_tm-@kinmu.kyuke1_to_tm</td>
                            <td>
                                <input type="checkbox" value="@kinmu.valid_flg" @(kinmu.valid_flg == "0" ? "" : "checked") disabled />
                            </td>
                        </tr>
                    }
                }
            </tbody>
         </table>
      </div>
   </div>
</div>
@*職種メンテナンス登録(追加ポップアップ)*@
<div
   class="modal fade"
   id="tsuikaModal"
   tabindex="-1"
   aria-labelledby="userModalLabel"
   aria-hidden="true"
>
   <div class="modal-dialog modal-lg">
      <div class="tsuikaModalContent modal-content" style="width: 70%">
         <div class="modal-header">
            <div class="d-flex justify-content-between w-100"></div>
         </div>
         <form class="card mb-4" method="Post">
            <div class="card-body">
               <div class=" mb-3 align-items-center">
                  <label for="kinmu_cd1">勤務コード</label>
                  <input
                     type="text"
                     class="form-control"
                     name="kinmu_cd1"
                     size="30"
                     maxlength="10"
                     id="shokushu_cd1"
                  />
               </div>
               <div class=" mb-3 align-items-center">
                  <label  for="kinmu_nm1">勤務名</label>
                  <input
                     type="text"
                     class="form-control"
                     name="kinmu_nm1"
                     id="kinmu_nm1"
                  />
               </div>
               <div class=" mb-3 align-items-center">
                  <label for="kinmu_bunrui1">勤務分類</label>
                  <input
                     type="text"
                     class="form-control"
                     name="kinmu_bunrui1"
                     id="kinmu_bunrui1"
                  />
               </div>
               <div class=" mb-3 align-items-center">
                 <label for="appt-time">勤務時間</label>
                 <input id="appt-time" type="time" name="kinmu_fr_tm1" value="">
                 <input id="appt-time" type="time" name="kinmu_to_tm1" value="">
               </div>
               <div class=" mb-3 align-items-center">
                 <label for="appt-time">休憩時間1</label>
                 <input id="appt-time" type="time" name="kyuke1_fr_tm1" value="">
                 <input id="appt-time" type="time" name="kyuke1_to_tm1" value="">
               </div>
               <div class=" mb-3 align-items-center">
                 <label for="shotei_tm">所定時間</label>
               </div>
               <div class=" mb-3 align-items-center">
                 <label for="dakoku_settei">打刻設定</label>
                 　<input type="checkbox" name="kyukei_auto_flg1" value="0">
                   <label>休憩打刻を退勤打刻時に自動追加する</label>
                   <input type="checkbox" name="kinmu_fr_ctrl_flg1" value="1">
                   <label>始業前打刻を勤務開始時間にあわせる</label>
               </div>
               <div class=" mb-3 align-items-center">
                 <label for="marume">打刻丸め設定</label>
                 <div>
                     <label>始業</label>
                     <input type="text" name="kinmu_fr_marume_kbn1" value="">
                     <input type="text" name="kinmu_fr_marume_tm1" value="">
                     <label>分単位</label>
                 </div>
                 <div>
                     <label>始業</label>
                     <input type="text" name="kinmu_to_marume_kbn1" value="">
                     <input type="text" name="kinmu_to_marume_tm1" value="">
                     <label>分単位</label>
                 </div>
                 <div>
                     <label>休憩開始</label>
                     <input type="text" name="kyukei_fr_marume_kbn1" value="">
                     <input type="text" name="kinmu_fr_marume_tm1" value="">
                     <label>分単位</label>
                 </div>
                  <div>
                     <label>休憩終了</label>
                     <input type="text" name="kyukei_to_marume_kbn1" value="">
                     <input type="text" name="kinmu_to_marume_tm1" value="">
                     <label>分単位</label>
                 </div>
               </div>
             

               <div class="d-flex justify-content-end mt-2">
                  <input
                     type="button"
                     class="cancel btn btn-secondary mx-3"
                     value="キャンセル"
                     class="btn modal-close btn-warning"
                     data-bs-dismiss="modal"
                  />
                  <button
                     type="submit"
                     class="register btn btn-secondary mx-3"
                     value="register"
                     name="register_action"
                  >
                     登録
                  </button>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>