@page
@model UNN_Ki_001.Pages.VariousMaster.KinmuModel
@{
}

<div>
   <input type="hidden" id="data" value="@Model._test" />
   <div class="container mt-5" style="max-width: 50%">
       <h3>勤務マスタメンテナンス</h3>
      <form class="card mb-4" method="Post">
         <div class="card-body">
            <div class="row mb-3 align-items-center">
               <label class="col-3" for="shokushu_cd">勤務コード</label>
               <input
                  type="text"
                  class="col-3"
                  asp-for="MKinmu.KinmuCd"
                  size="30"
                  maxlength="10"
                />
            </div>
            <div class="row mb-3 align-items-center">
               <label class="col-3">勤務名</label>
               <input
                  type="text"
                  class="col-3"
                  asp-for="MKinmu.KinmuNm"
               />
            </div>
             <div class="row mb-3 align-items-center">
               <label class="col-3">勤務分類</label>
               <select class="col-3" asp-for="MKinmu.KinmuBunrui">
                    
                        <option  value="01" selected>通常勤務</option>
                        <option  value="02" selected>所定休日</option>
                        <option  value="03" selected>法定休日</option>
                        <option  value="05" selected>振替休日</option>
                        <option  value="06" selected>代休</option>
                        <option  value="07" selected>有給休暇</option>
                        <option  value="08" selected>午前半休</option>
                        <option selected></option>
                </select>
            </div>
            <div class="row mb-3 align-items-center">
               <div class="col-7">
                  有効/無効
                     <label asp-for="MKinmu.ValidFlg">有効</label>
                     <input
                        type="radio"
                        name="valid_flg"
                        value="1"
                        id="valid_flg"
                        @(Model.ValidFlg =="1" ? "checked" : "")
                     />
                     <label for="valid_flg">無効</label>
                     <input
                        type="radio"
                        name="valid_flg"
                        value="0"
                        id="valid_flg"
                        @(Model.ValidFlg =="0" ? "checked" : "")
                     />
               </div>
            </div>
            <div class="d-flex justify-content-end mt-2">
               <input type="hidden" value="search" name="action" />
               <button type="submit" class="search btn btn-secondary mx-3">
                  検索
               </button>
            </div>
            <div class="d-flex justify-content-end mt-2">
               <input
                  type="button"
                  class="tsuika btn btn-secondary mx-3"
                  value="追加"
                  data-bs-toggle="modal"
                  data-bs-target="#tsuikaModal"
               />
               <input
                  type="button"
                  class="kinmuCopy btn btn-secondary mx-3"
                  value="複写"
               />
            </div>
         </div>
      </form>
     <div class="text-black">@Model.Message</div>
      @*<div class="text-danger">@Model.ErrorMessage</div>*@
      <div class="p-2">
         <table class="table table-bordered" id="mytable">
            <thead class="table-primary">
               <tr class="text-center">
                  <th class="col-2">職種コード</th>
                  <th class="col-3">職種名</th>
                  <th class="col-2">勤務分類</th>
                  <th class="col-2">勤務時間</th>
                  <th class="col-2">休憩時間</th>
                  <th class="col-1">有効</th>
               </tr>
            </thead>
            <tbody class="kinmuData ">
                @if (@Model._targetList!= null) { 
                    @foreach (var kinmu in Model._targetList) {
                        <tr>
                            <td>
                                <div class="kinmu_cd text-decoration-underline text-primary" data-bs-toggle="modal" data-bs-target="#tsuikaModal">@kinmu.KinmuCd</div>
                            </td>
                            <td>@kinmu.KinmuNm</td>
                            @if(@kinmu.KinmuBunrui == "01")
                                {
                                    <td>通常勤務</td>
                                }
                                else if(@kinmu.KinmuBunrui == "02")
                                {
                                    <td>所定休日</td>
                                }
                                else if(@kinmu.KinmuBunrui == "03")
                                {
                                    <td>法定休日</td>
                                }
                                
                                else if(@kinmu.KinmuBunrui == "05")
                                {
                                    <td>振替休日</td>
                                }
                                else if(@kinmu.KinmuBunrui == "06")
                                {
                                    <td>代休</td>
                                }
                                else if(@kinmu.KinmuBunrui == "07")
                                {
                                    <td>A有給休暇</td>
                                }
                                else if(@kinmu.KinmuBunrui == "08")
                                {
                                    <td>午前半休</td>
                                }
                                <td> @kinmu.KinmuFrTm-@kinmu.KinmuToTm</td>
                                <td> @kinmu.Kyukei1FrTm-@kinmu.Kyukei1ToTm</td>
                            <td>
                                <input type="checkbox" value="@kinmu.ValidFlg" @(kinmu.ValidFlg == "0" ? "" : "checked") disabled />
                            </td>
                        </tr>
                    }
                }
            </tbody>
         </table>
      </div>
   </div>
</div>
@*職種メンテナンス登録(追加ポップアップ)*@
<div
   class="modal fade"
   id="tsuikaModal"
   tabindex="-1"
   aria-labelledby="userModalLabel"
   aria-hidden="true"
>
   <div class="modal-dialog modal-lg">
      <div class="tsuikaModalContent modal-content" style="width: 70%">
         <div class="modal-header">
            <div class="d-flex justify-content-between w-100"></div>
         </div>
         <form class="card mb-4 ModalForm" method="Post">
            <div class="card-body">
               <div class=" mb-3 align-items-center">
                  <label for="kinmu_cd1" class="col-3">勤務コード</label>
                  <input
                     type="text"
                     class="kinmu_cd col-3"
                     asp-for="MKinmu1.KinmuCd"
                     size="30"
                     maxlength="10"
                     required
                  />
               </div>
               <div class=" mb-3 align-items-center">
                  <label  for="kinmu_nm1" class="col-3">勤務名</label>
                  <input
                     type="text"
                     class="col-3"
                     asp-for="MKinmu1.KinmuNm"
                     required
             
                  />
               </div>
               <div class=" mb-3 align-items-center">
                  <label for="kinmu_bunrui" class="col-3">勤務分類</label>
                  <select class="col-3" asp-for="MKinmu1.KinmuBunrui" required>
                        <option value="01" selected>通常勤務</option>
                        <option value="02">所定休日</option>
                        <option value="03">法定休日</option>
                        <option value="05">振替休日</option>
                        <option value="06">代休</option>
                        <option value="07">有給休暇</option>
                        <option value="08">午前半休</option>
                </select>
               </div>
               <div class=" mb-3 align-items-center">
                 <label for="appt-time" class="col-3">勤務時間</label>
                 <select class="col-2" asp-for="MKinmu1.KinmuFrKbn" required>
                     <option value="0" selected>当日</option>
                     <option value="1">前日</option>
                     <option value="2">翌日</option>
                 </select>
                 <input type="time"asp-for="MKinmu1.KinmuFrTm" required >
                 -
                 <select class="col-2" asp-for="MKinmu1.KinmuToKbn" required>
                     <option value="0" selected>当日</option>
                     <option value="1">前日</option>
                     <option value="2">翌日</option>
                  </select>
                 <input id="appt-time" type="time" asp-for="MKinmu1.KinmuToTm" required>
               </div>
               <div class=" mb-3 align-items-center">
                 <label for="appt-time" class="col-3">休憩時間1</label>
                  <select class="col-2" asp-for="MKinmu1.Kyukei1FrKbn" required>
                     <option></option>
                     <option value="0">当日</option>
                     <option value="1">前日</option>
                     <option value="2">翌日</option>
                 </select>
                 <input type="time" asp-for="MKinmu1.Kyukei1FrTm" required >
                 -
                  <select class="col-2" asp-for="MKinmu1.Kyukei1ToKbn" required>
                     <option></option>
                     <option value="0">当日</option>
                     <option value="1">前日</option>
                     <option value="2">翌日</option>
                 </select>
                 <input type="time" asp-for="MKinmu1.Kyukei1ToTm" required>
               </div>
                <div class=" mb-3 align-items-center">
                 <label for="appt-time" class="col-3">休憩時間2</label>
                  <select class="col-2" asp-for="MKinmu1.Kyukei2FrKbn" >
                     <option></option>
                     <option value="0">当日</option>
                     <option value="1">前日</option>
                     <option value="2">翌日</option>
                 </select>
                 <input type="time" asp-for="MKinmu1.Kyukei2FrTm">
                 -
                  <select class="col-2" asp-for="MKinmu1.Kyukei2ToKbn">
                     <option></option>
                     <option value="0">当日</option>
                     <option value="1">前日</option>
                     <option value="2">翌日</option>
                 </select>
                 <input type="time" asp-for="MKinmu1.Kyukei2ToTm">
               </div>
                <div class= mb-3 align-items-center">
                 <label for="appt-time" class="col-3">休憩時間3</label>
                  <select class="col-2" asp-for="MKinmu1.Kyukei3FrKbn">
                     <option></option>
                     <option value="0">当日</option>
                     <option value="1">前日</option>
                     <option value="2">翌日</option>
                 </select>
                 <input type="time" asp-for="MKinmu1.Kyukei3FrTm" value="">
                 -
                  <select class="col-2" asp-for="MKinmu1.Kyukei3ToKbn">
                     <option></option>
                     <option value="0">当日</option>
                     <option value="1">前日</option>
                     <option value="2">翌日</option>
                 </select>
                 <input type="time" asp-for="MKinmu1.Kyukei3ToTm">
               </div>
               <div class="mb-3 align-items-center">
                 <label for="dakoku_settei">打刻設定</label>
                 　<input type="checkbox" name="KyukeiAuto" value="1">
                   <label class="" >休憩打刻を退勤打刻時に自動追加する</label>
                   <input type="checkbox" name="KinmuAuto" value="1">
                   <label class="" >始業前打刻を勤務開始時間にあわせる</label>
               </div>
               <div class=" mb-3 align-items-center">
                 <label for="marume">打刻丸め設定</label>
                 <div>
                     <label class="col-3">始業</label>
                     <select class="col-3" asp-for="MKinmu1.KinmuFrMarumeKbn" required>
                         <option></option>
                         <option value="0">丸めなし</option>
                         <option value="1">切り下げる</option>
                         <option value="2">切り上げる</option>
                     </select>
                     <input type="text" asp-for="MKinmu1.KinmuFrMarumeTm" class="col-2" >
                     <label>分単位</label>
                 </div>
                 <div>
                     <label class="col-3">終業</label>
                     <select class="col-3" asp-for="MKinmu1.KinmuToMarumeKbn" required>
                         <option></option>
                         <option value="0">丸めなし</option>
                         <option value="1">切り下げる</option>
                         <option value="2">切り上げる</option>
                     </select>
                     <input type="text" asp-for="MKinmu1.KinmuToMarumeTm" class="col-2" >
                     <label>分単位</label>
                 </div>
                 <div>
                     <label class="col-3">休憩開始</label>
                     <select class="col-3" asp-for="MKinmu1.KyukeiFrMarumeKbn" required>
                         <option></option>
                         <option value="0">丸めなし</option>
                         <option value="1">切り下げる</option>
                         <option value="2">切り上げる</option>
                     </select>
                     <input type="text" asp-for="MKinmu1.KyukeiFrMarumeTm" class="col-2">
                     <label>分単位</label>
                 </div>
                  <div>
                     <label class="col-3">休憩終了</label>
                    <select class="col-3"  asp-for="MKinmu1.KyukeiToMarumeKbn" required>
                         <option></option>
                         <option value="0">丸めなし</option>
                         <option value="1">切り下げる</option>
                         <option value="2">切り上げる</option>
                     </select>
                     <input type="text" asp-for="MKinmu1.KyukeiToMarumeTm" class="col-2">
                     <label>分単位</label>
                 </div>
               </div>
                <div class="row mb-3 align-items-center">
               <div class="col-7">
                  有効/無効
                     <label for="valid_flg" asp-for="MKinmu1.ValidFlg">有効</label>
                     <input
                        type="radio"
                        value="1"
                        asp-for="MKinmu1.ValidFlg"
                        selected
                     />
                     <label for="valid_flg">無効</label>
                     <input
                        type="radio"
                        value="0"
                        asp-for="MKinmu1.ValidFlg"
                     />
               </div>
            </div>
               <div class="d-flex justify-content-end mt-2">
                  <input
                     type="button"
                     class="cancel btn btn-secondary mx-3"
                     value="キャンセル"
                     data-bs-dismiss="modal"
                  />
                  <button
                     type="submit"
                     class="register btn btn-secondary mx-3"
                     value="register"
                     name="register_action"
                  >
                     登録
                  </button>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
@if(Model._test != null){
    <script>
        var data = $("#data").val()
        console.log(JSON.parse(data))
        var json = JSON.parse(data)

@*        data.forEach(e => {
            console.log(e)
        })*@

    $(".kinmu_cd").click(function() {
        var cd = $(this).text();
        json.forEach(e => {
            if (e.KinmuCd == cd) {
                console.log(e)
                $(".kinmu_cd").val(e.KinmuCd)
            }
        })
    })
    $(".kinmuCopy").click(function() {
        var cd = $(".kinmuData tr.selected").children().children().text();
        console.log(cd)
        json.forEach(e => {
            if (e.KinmuCd == cd) {
                console.log(e)
                $(".kinmu_cd").val(e.KinmuCd)
            }
        })
    })

    </script>
}

<script>
    $(".tsuika").click(function(){
        $(".ModalForm")[0].reset();
    })

    $(".kinmuData tr").click(function() {
        $(".kinmuData tr").removeClass("selected bg-light")
        $(".")
        $(this).addClass("selected bg-light")
    })
</script>
