@page
@model UNN_Ki_001.Pages.VariousMaster.KoyokeitaiModel
@{
}

<div>
   <div class="container mt-5" style="max-width: 500px">
       <h3>雇用形態マスタメンテナンス</h3>
      <form class="card mb-4" method="Post">
         <div class="card-body">
            <div class="row mb-3 align-items-center">
               <label class="col-4" for="koyokeitai_cd">雇用形態コード</label>
               <input
                  type="text"
                  class=" col-4"
                  name="koyokeitai_cd"
                  size="30"
                  maxlength="10"
                  value="@Model.Koyokeitai_cd"
               />
            </div>
            <div class="row mb-3 align-items-center">
               <label class="col-4">雇用形態名</label>
               <input
                  type="text"
                  class="l col-4"
                  name="koyokeitai_nm"
                  value="@Model.Koyokeitai_nm"
               />
            </div>
            <div class="row mb-3 align-items-center">
               <div class="col-10">
                  有効/無効
                     <label for="valid_flg">有効</label>
                     <input
                        type="radio"
                        name="valid_flg"
                        value="1"
                        id="valid_flg"
                        @(Model.Valid_flg =="1" ? "checked" : "")
                     />
                     <label for="valid_flg">無効</label>
                     <input
                        type="radio"
                        name="valid_flg"
                        value="0"
                        id="valid_flg"
                        @(Model.Valid_flg =="0" ? "checked" : "")
                     />
               </div>
            </div>
            <div class="d-flex justify-content-end mt-2">
               <input type="hidden" value="search" name="action" />
               <button type="submit" class="search btn btn-secondary mx-3">
                  検索
               </button>
            </div>
            <div class="d-flex justify-content-end mt-2">
               <input
                  type="button"
                  class="tsuika btn btn-secondary mx-3"
                  value="追加"
                  data-bs-toggle="modal"
                  data-bs-target="#tsuikaModal"
               />
               <input
                  type="button"
                  class="kyktcopy btn btn-secondary mx-3"
                  value="複写"
               />
            </div>
         </div>
      </form>
      <div class="text-black">@Model.Message</div>
      <div class="text-danger">@Model.ErrorMessage</div>
      <div class="p-2">
         <table class="table table-bordered" id="mytable">
            <thead class="table-primary">
               <tr class="text-center">
                  <th class="col-2">雇用形態コード</th>
                  <th class="col-3">雇用形態名</th>
                  <th class="col-2">有効</th>
               </tr>
            </thead>
            <tbody class="koyokeitaiData">
                @if (Model.Data != null) { 
                    @foreach (var koyokeitai in Model.Data) {
                        <tr>
                            <td data-bs-toggle="modal" data-bs-target="#updateModal">
                                   <div class="koyokeitai_cd text-decoration-underline text-primary">@koyokeitai.koyokeitai_cd</div> 
                            </td>
                            <td>@koyokeitai.koyokeitai_nm</td>
                            <td>
                                <input type="checkbox" value="@koyokeitai.valid_flg" @(koyokeitai.valid_flg == "0" ? "" : "checked") disabled />
                            </td>
                        </tr>
                    }
                }
            </tbody>
         </table>
      </div>
   </div>
</div>

@*所属メンテナンス登録(追加ポップアップ)*@
<div
   class="modal fade"
   id="tsuikaModal"
   tabindex="-1"
   aria-labelledby="userModalLabel"
   aria-hidden="true"
>
   <div class="modal-dialog modal-lg">
      <div class="tsuikaModalContent modal-content" style="width: 60%">
         <div class="modal-header">
            <div class="d-flex justify-content-between w-100"></div>
         </div>
         <form class="card mb-4" method="Post">
            <div class="card-body">
               <div class="row mb-3 align-items-center">
                  <label class="col-4" for="koyokeitai_cd1">所属コード</label>
                  <input
                     type="text"
                     class="col-4"
                     name="koyokeitai_cd1"
                     size="30"
                     maxlength="10"
                     id="koyokeitai_cd1"
                  />
               </div>
               <div class="row mb-3 align-items-center">
                  <label class="col-4" for="koyokeitai_nm1">所属名</label>
                  <input
                     type="text"
                     class=" col-4"
                     name="koyokeitai_nm1"
                     id="koyokeitai_nm1"
                  />
               </div>
               <div class="row mb-3 align-items-center">
                  <div class="col-10">
                     有効/無効
                     <label for="valid_flg1">有効</label>
                     <input
                        type="radio"
                        name="valid_flg1"
                        value="1"
                        id="valid_flg1"
                     />
                     <label for="valid_flg">無効</label>
                     <input
                        type="radio"
                        name="valid_flg1"
                        value="0"
                        id="valid_flg1"
                     />
                  </div>
               </div>

               <div class="d-flex justify-content-end mt-2">
                  <input
                     type="button"
                     class="cancel btn btn-secondary mx-3"
                     value="キャンセル"
                     class="btn modal-close btn-warning"
                     data-bs-dismiss="modal"
                  />
                  <button
                     type="submit"
                     class="register btn btn-secondary mx-3"
                     value="register"
                     name="register_action"
                  >
                     登録
                  </button>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
@*所属メンテナンス修正(社員番号ポップアップ)*@ 
<div
   class="modal fade"
   id="updateModal"
   tabindex="-1"
   aria-labelledby="userModalLabel"
   aria-hidden="true"
>
   <div class="modal-dialog modal-lg">
      <div class="udateModalContent modal-content" style="width: 60%">
         <div class="modal-header">
            <div class="d-flex justify-content-between w-100"></div>
         </div>
         <form class="card mb-4" method="Post">
            <div class="card-body">
               <div class="row mb-3 align-items-center">
                  <label class="col-4" for="koyokeitai_cd2">雇用形態コード</label>
                  <input
                     type="text"
                     class=" col-4"
                     name="koyokeitai_cd2"
                     size="30"
                     maxlength="10"
                     id="koyokeitai_cd2"   
                     readonly
                  />
               </div>
               <div class="row mb-3 align-items-center">
                  <label class="col-4" for="koyokeitai_nm2">雇用形態名</label>
                  <input
                     type="text"
                     class=" col-4"
                     name="koyokeitai_nm2"
                     id="koyokeitai_nm2"
                  />
               </div>
               <div class="row mb-3 align-items-center">
                  <div class="col-10">
                  有効/無効
                     <label for="valid_flg2">有効</label>
                     <input
                        type="radio"
                        name="valid_flg2"
                        value="1"
                        id="valid_flg2"
                     />
                     <label for="valid_flg">無効</label>
                     <input
                        type="radio"
                        name="valid_flg2"
                        value="0"
                        id="valid_flg2"
                     />
               </div>
               </div>

               <div class="d-flex justify-content-end mt-2">
                  <input
                     type="button"
                     class="updateCancel btn btn-secondary mx-3"
                     value="キャンセル"
                     class="btn modal-close btn-warning"
                     data-bs-dismiss="modal"
                  />
                  <button
                     type="submit"
                     class="register btn btn-secondary mx-3"
                     value="update"
                     name="update_action"
                  >
                     修正
                  </button>
                  <button
                     type="submit"
                     class="delete btn btn-secondary mx-3"
                     value="delete"
                     name="delete_action"
                  >
                     削除
                  </button>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
<script>
    
    //  雇用形態コードをクリックする時、修正・削除のポップアップが表示
    $(".koyokeitai_cd").click(function () {
        $("#updateModal input[name='koyokeitai_cd2']").val($(this).text())
        $("#updateModal input[name='koyokeitai_nm2']").val($(this).parent().next().text())
        $("#updateModal input[name='valid_flg2']").attr("checked", false);
        $("#updateModal input[name='valid_flg2'][value='" + $(this).parent().next().next().children().val() + "']").attr("checked", true)
    })
// 雇用形態メンテナンスの複写機能(Copy)
$(".koyokeitaiData tr").click(function () {

    $(".koyokeitaiData tr").removeClass("selected bg-light")
    $(this).addClass("selected bg-light");
    $(".kyktcopy").click(function () {
        $(".tsuika").click();
        $("#tsuikaModal input[name='koyokeitai_cd1']").val($(".koyokeitaiData tr.selected").children().children().text())
        $("#tsuikaModal input[name='koyokeitai_nm1']").val($(".koyokeitaiData tr.selected").children()[1].textContent)
        $("#tsuikaModal input[name='valid_flg1']").attr("checked", false);
        $("#tsuikaModal input[name='valid_flg1'][value='" + $(".koyokeitaiData tr.selected").children().next().next().children().val() + "']").attr("checked", true)
    })
})


</script>
