@page
@model UNN_Ki_001.Pages.VariousMaster.KoyokeitaiModel
@{
    ViewData["Title"] = "雇用形態マスタメンテナンス";
}

<div>
    <input type="hidden" id="data" value="@Model._searchListString" />
    <div class="container mt-3 mb-5" style="max-width: 700px;">
        <h3>@ViewData["Title"]</h3>
        <div class="text-danger my-3">@Model.Message</div>
        <form class="mb-4 border border-1 SearchForm accordion" method="Post" id="accordionExample">
            <div class="accordion-header accordion-item d-flex justify-content-between" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">雇用形態検索条件</button>
            </div>
            <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row g-3 align-items-center mb-3">
                        <div class="col-3">
                            <label class="col-form-label" asp-for="SearchData.KoyokeitaiCd">雇用形態コード</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" class="form-control" asp-for="SearchData.KoyokeitaiCd" />
                        </div>
                    </div>
                    <div class="row g-3 align-items-center mb-3">
                        <div class="col-3">
                            <label class="col-form-label" asp-for="SearchData.KoyokeitaiNm">雇用形態名</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" class="form-control" asp-for="SearchData.KoyokeitaiNm" />
                        </div>
                    </div>
                    <div class="row g-3 align-items-center mb-3">
                        <div class="col-3">
                            <label class="col-form-label" asp-for="SearchData.ValidFlg">有効/無効</label>
                        </div>
                        <div class="col-auto">
                            <input type="radio"
                                value="1"
                                asp-for="SearchData.ValidFlg"
                                id="ValidFlg1"
                                checked='@(Model.ValidFlg == "1" || Model.ValidFlg == null ? true : false)'>
                            <label class="col-form-label" for="ValidFlg1">有効</label>
                        </div>
                        <div class="col-auto">
                            <input type="radio"
                                value="0"
                                id="ValidFlg2"
                                asp-for="SearchData.ValidFlg"
                                checked='@(Model.ValidFlg == "0" ? true : false)'>
                            <label class="col-form-label" for="ValidFlg2">無効</label>
                        </div>
                    </div>

                    <div class="d-flex justify-content-end mb-3">
                        <button type="submit"
                                class="btn btn-primary me-5 px-4"
                                name="action"
                                value="search"
                        >
                            <i class="fa-solid fa-magnifying-glass me-3"></i>
                            検索
                        </button>
                    </div>
                </div>
            </div>
        </form>

        @if (Model._searchList != null)
        {
            <div class="card mb-5">
                <div class="card-header">
                    <div class="card-title">
                        <i class="fa-solid fa-table-list"></i>
                        検索結果
                    </div>
                </div>
                <div class="d-flex justify-content-start my-3">
                    <button type="button"
                        class="kyktInsert btn btn-success mx-3"
                        data-bs-toggle="modal"
                        data-bs-target="#kyktModal">
                        <i class="fa-solid fa-circle-plus me-2"></i>
                        追加
                    </button>
                    <button type="button"
                        class="kyktCopy btn btn-info mx-3"
                        data-bs-toggle="modal"
                        data-bs-target="#kyktModal">
                        <i class="fa-solid fa-copy me-3"></i>
                        複写
                    </button>
                </div>
                <table class="table table-bordered" id="mytable">
                    <thead class="table-primary">
                        <tr class="text-center">
                            <th class="col-3">雇用形態コード</th>
                            <th class="col-8">雇用形態名</th>
                            <th class="col-1">有効</th>
                        </tr>
                    </thead>
                    <tbody class="kyktData">
                        @foreach (var item in Model._searchList)
                        {
                            <tr>
                                <td class="text-center">
                                    <div class="kyktSelected text-decoration-underline text-primary" data-bs-toggle="modal" data-bs-target="#kyktModal">@item.KoyokeitaiCd</div>
                                </td>
                                <td>@item.KoyokeitaiNm</td>
                                <td class="text-center">
                                    <input type="checkbox"
                                       value="@item.ValidFlg"
                                       @(item.ValidFlg == "0" ? "" :
                                       "checked") disabled 
                                    />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

@*雇用形態メンテナンス(ポップアップ)*@
<div class="modal fade"
     id="kyktModal"
     tabindex="-1"
     aria-labelledby="kyktModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="kyktModalContent modal-content">
            <div class="modal-header">
                <div class="d-flex justify-content-between w-100"></div>
            </div>
            <form class="card mb-4 KyktModalForm" method="Post">
                <div class="card-body">
                    <div class="row g-3 align-items-center mb-3">
                        <div class="col-3">
                            <label class="col-form-label" asp-for="CRUDData.KoyokeitaiCd">雇用形態コード</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" class="form-control kyktCd" asp-for="CRUDData.KoyokeitaiCd" maxlength="1" required />
                        </div>
                    </div>
                    <div class="row g-3 align-items-center mb-3">
                        <div class="col-3">
                            <label class="col-form-label" asp-for="CRUDData.KoyokeitaiNm">雇用形態名</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" class="form-control kyktNm" asp-for="CRUDData.KoyokeitaiNm" maxlength="20" required />
                        </div>
                    </div>
                    <div class="row g-3 align-items-center mb-3">
                        <div class="col-3">
                            <label class="col-form-label" asp-for="CRUDData.ValidFlg">有効/無効</label>
                        </div>
                        <div class="col-auto">
                            <input type="radio"
                                class="validFlg"
                                asp-for="CRUDData.ValidFlg"
                                id="validFlg1"
                                value="1" 
                                checked
                                />
                            <label class="col-form-label" for="validFlg1">有効</label>
                        </div>
                        <div class="col-auto">
                            <input type="radio"
                                class="validFlg"
                                asp-for="CRUDData.ValidFlg"
                                id="validFlg2"
                                value="0" />
                            <label class="col-form-label" for="validFlg2">無効</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-3">
                        <button type="submit"
                            class="submitBtn btn btn-secondary mx-3 px-4"
                            name="action">
                        </button>
                        <button type="submit"
                            class="deleteBtn btn btn-danger mx-3 px-4 d-none"
                            value="delete"
                            name="action">
                            削除
                        </button>
                        <button type="button"
                            class="cancel btn btn-secondary mx-3"
                            data-bs-dismiss="modal">
                            キャンセル
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@if (Model._searchListString != null)
{
    <script src="~/js/_VariousMaster.Kykt.js" asp-append-version="true"></script>
}
